$info-cell-width: 40px;
$cell-width: 120px;
$row-height: 24px;
$dashboard-header-height: 64px;

$border-color: #c0c0c0;
$table-background: #f8f9fa;
$dashboard-color: #dadce0;
$dashboard-text: #202124;
